{% extends 'base.html.twig' %}

{% block body_id 'blog_ask' %}



{% block main %}
    {% for post in paginator.results %}
        String i = "?";
        {% if post.title.includes(i) %}
            <article class="post">
                <h2>
                    <a style="color: #000000" href="{{ post.link }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="post-metadata">
                    <span class="metadata"><i
                                class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
                    <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
                </p>


            </article>
        {% endif %}
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li style="background-color: #FF6600" class="prev"><a style="background-color: #FF6600"
                                                                          href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}"
                                                                          rel="previous"><i
                                    style="background-color: #FF6600"
                                    class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}</a></li>
                {% else %}
                    <li style="background-color: #FF6600" class="prev disabled"><span style="background-color: #f69d50"><i
                                    style="background-color: #f69d50"
                                    class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li style="background-color: #FF6600" class="active"><span
                                    style="background-color: darkorange">{{ i }} <span style="background-color: #FF6600"
                                                                                       class="sr-only">{{ 'paginator.current'|trans }}</span></span>
                        </li>
                    {% else %}
                        <li style="background-color: #FF6600"><a style="background-color: #FF6600"
                                                                 href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li style="background-color: #FF6600" class="next"><a style="background-color: #FF6600"
                                                                          href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}"
                                                                          rel="next">{{ 'paginator.next'|trans }} <i
                                    style="background-color: #FF6600" class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li style="background-color: #FF6600" class="next disabled"><span
                                style="background-color: #f69d50">{{ 'paginator.next'|trans }} <i
                                    style="background-color: #f69d50" class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}

{% endblock %}