<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Hacker News{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        <link rel="icon" type="image/x-icon" src="logo/hackernews.png"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}


    </head>

    <body id="{% block body_id %}{% endblock %}">

    {% block header %}
    <div class="container body-container" style="background-color: #f6f6ef">
        <div class="row">
            <header style="background-color: #FF6600">
                <div class="navbar navbar-default navbar-static-top" style="background-color: #FF6600"
                     role="navigation">
                    <div class="container">
                        <div class="navbar-header col-md-3 col-lg-2">

                            <a class="navbar-brand">
                                <img src="logo/hackernews.png">
                            </a>

                            <a style="color: black" class="navbar-brand" href="{{ path('blog_index') }}">
                                <p class="font-weight-bold">Hacker News</p>
                            </a>


                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">

                                <li>
                                    <a style="color: black" class="navbar-brand" href="{{ path('blog_index') }}">
                                        New
                                    </a>
                                </li>

                                <li>
                                    <a style="color: black" href="{{ path('blog_search') }}"> Threads</a>
                                </li>

                                <li>
                                    <a style="color: black"> comments </a>
                                </li>

                                <li>
                                    <a style="color: black" class="navbar-brand" href="{{ path('blog_ask') }}"> ask </a>
                                </li>

                                <li>
                                    <a style="color: black"> show </a>
                                </li>

                                <li>
                                    <a style="color: black"> jobs </a>
                                </li>

                                <li>
                                    <a style="color: black" href="{{ path('post_new') }}">
                                        submit
                                    </a>

                                </li>
                                {% if app.user %}
                                    <li>
                                        <a style="color: black" href="{{ path('user_edit') }}"><i class="fa fa-user"
                                                                                                  aria-hidden="true"></i> {{ app.user.username|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a style="color: black" href="{{ logout_path() }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not app.user %}
                                    <li>
                                        <a style="color: black" href="{{ path('user_edit') }}"> <i
                                                    class="fa fa-sign-in"></i> {{ "Login"|trans }} </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {% endblock %}

            <div class="container body-container">
                {% block body %}
                    <div class="row">
                        <div id="main" class="col-sm-9">
                            {{ include('default/_flash_messages.html.twig') }}

                            {% block main %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>


            {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
            <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
        </div>
    </div>
    </body>
</html>